/* Bootstrap */
@import "~bootstrap-scss/bootstrap";

/* Colors */
@import "Colors";

/* Font */
@font-face {
  font-family: 'Maven Pro';
  src: url('../../assets/fonts/mavenpro-bold-webfont.eot');
  src: url('../../assets/fonts/mavenpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/mavenpro-bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Maven Pro';
  src: url('../../assets/fonts/mavenpro-regular-webfont.eot');
  src: url('../../assets/fonts/mavenpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/mavenpro-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

::selection {
  color: $white;
  background: $purple;
}

/* General */
html {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 100%;
  font-variant-ligatures: none;
}

body {
  font-family: 'Maven Pro', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: $black;
  background-color: $grey;
  min-height: 100%;
  overflow-x: hidden;
  @media (max-width: 768px) {
    font-size: 0.875rem;
  }
  main[role=main] {
    flex: 1;
    padding: 2.5rem 0;
    background-color: $grey;
  }
  h1 {
    font-size: 3rem;
    font-weight: bold;
    @media (max-width: 768px) {
      font-size: 1.2rem;
    }
  }
  h2 {
    font-size: 2rem;
    font-weight: bold;
    @media (max-width: 768px) {
      font-size: 0.95rem;
    }
  }
}
