/* Bootstrap */
@import "~bootstrap-scss/bootstrap";

/* Colors */
@import "Colors";

/* Font */
@font-face {
  font-family: 'Maven Pro';
  src: url('../../assets/fonts/mavenpro-bold-webfont.eot');
  src: url('../../assets/fonts/mavenpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/mavenpro-bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Maven Pro';
  src: url('../../assets/fonts/mavenpro-regular-webfont.eot');
  src: url('../../assets/fonts/mavenpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/mavenpro-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

::selection {
  color: $white;
  background: $purple;
}

/* General */
html {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 100%;
  font-variant-ligatures: none;
}

body {
  font-family: 'Maven Pro', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: $black;
  background-color: $grey;
  min-height: 100%;
  overflow-x: hidden;
  @media (max-width: 768px) {
    font-size: 0.875rem;
  }
  .wrap {
    display: flex;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    flex-direction: column;
  }
  main[role=main] {
    flex: 1;
    padding: 2.5rem 0;
    background-color: $grey;
  }
  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
    text-align: center;
    @media print {
      display: none;
    }
    @media (max-width: 768px) {
      font-size: 1.2rem;
    }
  }
  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    @media (max-width: 768px) {
      font-size: 0.95rem;
    }
  }
  .spinner-border {
    display: block;
    margin: auto;
    color: $purple;
  }
  a {
    outline-color: transparent;
    outline-style: none;
  }
  .purple-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $purple;
    color: $white;
    border-radius: .5rem;
    transition: all .3s;
    border: none;
    height: 2.813rem;
    width: 11.25rem;
    margin: 2rem auto auto;
    box-shadow: 0 0.625rem 0.625rem 0 rgba(0, 0, 0, 0.10);
    text-decoration: none;
    &:hover {
      transform: translateY(-0.0625rem);
      box-shadow: none;
      background-color: $purple-light;
    }
    &:disabled {
      background-color: $purple-light;
      cursor: not-allowed;
      box-shadow: none;
      &:hover {
        transform: translateY(0);
      }
    }
  }
  .red-color {
    color: $red;
  }
  .card {
    border-radius: .5rem;
    padding: 2rem;
    border: 0.063rem solid $grey-light;
    box-shadow: 0 0.625rem 0.625rem 0 rgba(0, 0, 0, 0.02);
  }
  .modal {
    .purple-btn {
      background-color: $purple;
      border: none;
      &:hover {
        background-color: $purple-light;
      }
      &:active {
        background-color: $purple-light!important;
      }
    }
  }
}
