$black: #2D3436;
$white: #FFF;
$purple: #6C5CE7;
$purple-light: #A29BFE;
$grey: #fafafa;
$grey-dark: #9BA9BB;
$grey-light: #ECEFF1;
$red: #d63031;
$red-light: #FF7675;
$green: #00B894;
$green-light: #55EFC4;
$blue: #00E5FF;
$blue-light: #74B9FF;
$yellow: #FDCB6E;
$yellow-light: #FFEAA7;