@import '../../Colors';

footer.footer {
  @media print {
    display: none;
  }
  .footer-container {
      padding: 0 0 2.5rem;
    p {
      margin: 0;
      img {
        width: 0.938rem;
        margin: 0 0.313rem;
      }
    }
  }
}