@import '../../Colors';

.create-note {
  .new-note {
    display: block;
    text-align: center;
    margin-bottom: 2.5rem;
    color: $purple;
    text-decoration: none;
    transition: all .3s;
    &:hover {
      color: $purple-light;
    }
  }
  .card {
    .form-group {
      margin-bottom: 1.5rem;
      .form-control {
        border: 0.0625rem solid $grey-light;
        border-radius: 0.5rem;
        height: 2.5rem;
        appearance: none;
        &.is-invalid {
          border: 0.0625rem solid $red;
        }
        &.is-valid {
          border: 0.0625rem solid $green;
        }
        &:focus {
          box-shadow: none;
        }
      }
      .number-images {
        margin-top: 0.313rem;
        display: block;
      }
    }
  }
}