@import '../../Colors';

.create-note {
  .spinner-border {
    display: block;
    margin: auto;
    color: $purple;
  }
  .card {
    border-radius: .5rem;
    padding: 2rem;
    margin-top: 2.5rem;
    border: 0.063rem solid $grey-light;
    box-shadow: 0 0.625rem 0.625rem 0 rgba(0, 0, 0, 0.02);
    .form-group {
      margin-bottom: 1.5rem;
      .form-control {
        border: 0.0625rem solid $grey-light;
        border-radius: 0.5rem;
        height: 2.5rem;
        appearance: none;
        &.is-invalid {
          border: 0.0625rem solid $red;
        }
        &.is-valid {
          border: 0.0625rem solid $green;
        }
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}